h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: rgb(255, 28, 28);
}
canvas {
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes example {

    from {box-shadow: 1px 1px 38px rgb(255, 0, 208);}
    to {box-shadow: 1px 1px 3px purple;}
    
}